<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>AdminLTE 2 | Starter</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
        <link th:replace="layouts/fragment/all_css_plugin"/>
    </head>
    
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">

            <div th:replace="layouts/fragment/main_header">
                Main Header
            </div>
            
            <div th:replace="layouts/fragment/main_sidebar">
                Main Sidebar
             </div>

            <div th:replace="layouts/fragment/content">
                Content
            </div>

            <div th:replace="layouts/fragment/footer">
                Footer
            </div>

        </div>
        <!-- ./wrapper -->
        
        <script th:replace="layouts/fragment/all_js_plugin">all_java_script;</script>
    </body>
</html>