        <!-- DataTables -->
        <script th:src="@{/assets/plugins/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/assets/plugins/datatables/dataTables.bootstrap.min.js}"></script>
        <script th:src="@{/assets/plugins/datatables/extensions/responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{/assets/plugins/datatables/extensions/buttons/js/dataTables.buttons.min.js}"></script>
        <script th:src="@{/assets/plugins/datatables/extensions/buttons/js/buttons.flash.min.js}"></script>
        <script th:src="@{/assets/plugins/datatables/extensions/jszip/jszip.min.js}"></script>
        <script th:src="@{/assets/plugins/datatables/extensions/pdfmake/build/pdfmake.min.js}"></script>
        <script th:src="@{/assets/plugins/datatables/extensions/pdfmake/build/vfs_fonts.js}"></script>
        <script th:src="@{/assets/plugins/datatables/extensions/buttons/js/buttons.flash.min.js}"></script>
        <script th:src="@{/assets/plugins/datatables/extensions/buttons/js/buttons.html5.min.js}"></script>
        <script th:src="@{/assets/plugins/datatables/extensions/buttons/js/buttons.print.min.js}"></script>
         <script th:src="@{/assets/js/jquery.spring-friendly.js}"></script>