<!--All form Js-->
<!--Bootstrap-select-->
<script th:src="@{/assets/plugins/bootstrap-select/dist/js/bootstrap-select.js}"></script>

<!--Jquery-validate-->
<script th:src="@{/assets/plugins/jquery-validation/dist/jquery.validate.min.js}"></script>

<!--Custom Jquery-validate for Bootstrap-->
<script>
    $(document).ready(function () {
        $.validator.setDefaults({
            errorElement: "span",
            errorClass: "help-block",
            highlight: function (element, errorClass, validClass) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length || element.prop('type') === 'checkbox' || element.prop('type') === 'radio') {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    });
</script>

