<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/layout">

    <head>
        <title>Muhamad  Ridwan</title>
        <!--<link th:href="@{/assets/css/app.css}" rel="stylesheet" type="text/css"/>-->
    </head>    
    <body>

        <th:block layout:fragment="header">
            Input Data <small>Pelanggan</small>
        </th:block>

        <th:block layout:fragment="content" >
            <table class="table table-bordered table-responsive" id="example2">
                <thead>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>Nama</th>   
                    <th>Alamat</th>
                    <th>Nama</th>
                    <th>Alamat</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Muhamad Ridwan</td>
                        <td>Kp. Cibodas</td>
                        <td>Muhamad Ridwan</td>
                        <td>Kp. Cibodas</td>
                        <td>Muhamad Ridwan</td>
                        <td>Kp. Cibodas</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Muhamad Ridwan</td>
                        <td>Kp. Cibodas</td>
                        <td>Muhamad Ridwan</td>
                        <td>Kp. Cibodas</td>
                        <td>Muhamad Ridwan</td>
                        <td>Kp. Cibodas</td>
                    </tr>                            <tr>
                        <td>1</td>
                        <td>Muhamad Ridwan</td>
                        <td>Kp. Cibodas</td>
                        <td>Muhamad Ridwan</td>
                        <td>Kp. Cibodas</td>
                        <td>Muhamad Ridwan</td>
                        <td>Kp. Cibodas</td>
                    </tr>

                </tbody>
            </table>                
        </th:block>    


    </body>



</html>